body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5em;

  background-color: #717989;
}

/*hero text*/
h1 {
  
 font-size: 34px;
 font-family: 'Playfair Display', serif;
 line-height: 2.5em;
 padding: 0;

  text-align: center;
  max-width:22ch;

  color: black;
}